{% extends "base.html" %}
{% block title %} Bookmark -- Delete {% endblock %}

{% block content %}
<section>
    <h1 style="clear:both">Confirm Delete</h1>
    {%include "bookmark.html" %}
    <form action="" method="POST">
        <span style="color:red">Are you sure you want to delete?</span>
        <br>
        <a href="{{url_for('bookmarks.user', username=current_user.username)}}">
            <button type="button">No</button>
        </a>
        <button>Yes, delete it</button>
    </form>
</section>
{% endblock %}